// map.component
@import "../../theme/theme-variables";

body {
  background-color: $white;
}

.container-fluid {
  overflow: hidden;
  background-color: $white;
}

.background {
  fill: none;
  pointer-events: all;
}

#map-holder {
  width: 100vw;
  height: 85vh;
  background-color: $white;
  overflow: hidden;
}

.feature.active {
  fill: $map-11;
}

.tooltip {
  display: inline-block;
  margin: 1rem;
  background-color: $map-5;
  color: $black;
  font-family: $font-family;
  border-radius: 3px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  .airline-selected {
    background-color: $map-8;
    color: $white;
  }

  .tooltip-header {
    color: $gray-800;

    &__country {
      font-size: 1.3rem;
    }
    &__year {
      font-size: 1.2rem;
      background-color: $map-2;
    }
    &__title {
      &:first-child() {
        min-width: 120px;
        white-space: nowrap;
      }
      font-size: 1.1rem;
      background-color: $map-1;
    }
  }
  .no-wrap {
    white-space: nowrap;
  }
}

// svg rect {
//   fill: #2A2C39;
// }
.country {
  fill: $map-10;
  stroke: $white;
  stroke-width: 0.5;
}
.country-on {
  fill: $map-11;
  &__origin {
    fill: $gray-900; // $black
  }
}
.country-selectable {
  fill: $map-11;
}
.countryLabel {
  pointer-events: none;
  cursor: pointer;
  fill: $map-4;
  font-family: $font-family;
  display: none;   /* hide all country labels by default */
}
.countryName {
  fill: $map-3;
}
.countryLabelBg {
  fill: $map-4;
}
